{% extends "forge/generic.html" %}
{% load static %}
{% load i18n %}

{% block header %}
{{ wizard.form.media }}
{% endblock header%}


{% block custom_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'forge/css/forms/machine_usage.css' %}">
{% endblock custom_styles %}

{% block main %}
    <main class="bg_shade">
        <div id="checkboxes" style="display: block;" >
            <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
            <p class="title" id="machine_selection_title"><strong>Special Options:</strong></p>
            
        
                <form name="resouce_form" action="" method="post">
                    {% csrf_token %}
                    {{ wizard.management_form }}
                    <div>{{ wizard.form.class_usage }} Is this machine usage for a class?</div>
                    <div>{{ wizard.form.own_material }} Are you using your own material?</div>
                    <div>{{ wizard.form.reprint }} Is this a reprint?</div>
                    
                    <button style="width:49%;" name="wizard_goto_step" type="submit" id="available_next" value="{{ wizard.steps.prev }}">{% trans "Previous" %}</button>
                    <button style="width:49%;" type="submit" id="available_next" value="{% trans 'submit' %}">Next</button>
                </form>
        </div>
    </main>
{% endblock %}


{% block footer %}
{% endblock footer %}