{% extends "forge/generic.html" %}
{% load static %}
{% load i18n %}

{% block header %}
{{ wizard.form.media }}
{% endblock header%}


{% block custom_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'forge/css/forms/machine_usage.css' %}">
{% endblock custom_styles %}

{% block main %}
    <main class="bg_shade">
        <div id="available_machines">
            <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
            <p class="title" id="machine_selection_title"><strong>Resource Selection</strong></p>
            
        
            <form action="" method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <th>Slot Name</th>
                        <th>Material</th>
                        <th>Quantity</th>
                        <th>Cost</th>
                    </tr>
                    {{ wizard.management_form }}
                    
                    
                    
                    {% for field in wizard.form %}
                        {% if 'resource' in field.id_for_label %}
                        <tr>
                            <td> {{field}} </td>
                        {% else %}
                            <td> {{field}} </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
                
                <button type="submit" id="available_next" value="{% trans 'submit' %}">Next</button>
            </form>
        </div>
    </main>
{% endblock %}

{% block scripts %}
<script>
    var slot_name_list = {{ slot_name_list|safe }};
    console.log(slot_name_list);
</script>
{% endblock scripts %}

{% block footer %}
{% endblock footer %}