{% extends "forge/generic.html" %}
{% load static %}
{% load i18n %}

{% block header %}
{{ wizard.form.media }}
{% endblock header%}


{% block custom_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'forge/css/forms/machine_usage.css' %}">
{% endblock custom_styles %}

{% block main %}
    <main class="bg_shade">
        <div id="available_machines">
            <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
            <p class="title" id="machine_selection_title"><strong>Usage Duration</strong></p>
            <p style="text-align: center;"> How long will this usage last?</p>
            
        
            <form action="" method="post">
                {% csrf_token %}
                <table>
                    {{ wizard.management_form }}
                    {{ wizard.form.usage_hours }}
                    {{ wizard.form.usage_minutes }}
                </table>
                
                <button style="width:49%;" name="wizard_goto_step" type="submit" id="available_next" value="{{ wizard.steps.prev }}">{% trans "Previous" %}</button>
                <button style="width:49%;" type="submit" id="available_next" value="{% trans 'submit' %}">Next</button>
                
            </form>
        </div>
    </main>
{% endblock %}


{% block footer %}
{% endblock footer %}