{% extends "forge/generic.html" %}
{% load static %}

{% block page_title %}
<title>Use A Machine</title>
{% endblock page_title %}

{% block custom_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'forge/css/forms/machine_usage.css' %}">
{% endblock custom_styles %}
    
{% block header %}
{% endblock header%}

{% block main %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>

    <main class="bg_shade">
        <div id="available_machines">
            <p class="title"><strong>Download Charge Sheets</strong></p>
            <div>
                <select name="semester" id="semester_select">
                    {% for semester in semester_list %}
                        <option value="{{semester.id}}">{{semester.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <input type="button" onclick="download_sheet('/api/billing/charge_sheet')" value="Download NonGraduating CSV"></input>
            </div>
            <div>
                <input type="button" onclick="download_sheet('/api/billing/charge_sheet?graduating=True')" value="Download Graduating CSV"></input>
            </div>
        </div>
    </main>
    <script>
    function download_sheet(url){
        var select_id = document.getElementById("semester_select");
        $.get(
            url,
            {'semester_id' : select_id.value},
            function(data) {
               console.log(data)
            }
        );
    }
    </script>
{% endblock main %}


{% block footer %}
{% endblock footer %}

