{% load static %}
<html>
	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
		<script type="application/javascript" src="{% static 'forge/js/loading-bar.js' %}"></script>
		<script src="https://kit.fontawesome.com/73db8a1232.js" crossorigin="anonymous"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'forge/css/loading-bar.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'forge/css/status.css' %}" />

		<script type="text/javascript">
			function fail_usage(id, name) {
				proceed = confirm("This will mark the current usage of " + name + " as failed and send a failed print email. Continue?");

				if (!proceed) {
					return false;
				}

				$.post("/api/machines/fail", JSON.stringify({"machine_id":id}), function(data, status, xhr) {
					//alert("Operation successful.");
                    location.reload();
                }).fail(function(xhr, status, error) {
                    alert("Error" + xhr.status + ": " +  xhr.responseText);
                    location.reload();
                });
			}

			function clear_usage(id, name) {
				proceed = confirm("Clearing machine " + name + ". Continue?");

				if (!proceed) {
					return false;
				}

				$.post("/api/machines/clear", JSON.stringify({"machine_id":id}), function(data, status, xhr) {
					//alert("Operation successful.");
                    location.reload();
                }).fail(function(xhr, status, error) {
                    alert("Error" + xhr.status + ": " +  xhr.responseText);
                    location.reload();
                });
			}

			function edit_usage(usage_id) {
				window.location.href = "/admin/machine_management/usage/" + usage_id + "/change/";
			}
		</script>
	</head>
	<body>
		<div class="top_link_list">
			<a target="_parent" id="failure-form-link" class="block_link" href="">
				<i class="fas fa-dumpster-fire"></i> Machine Failure Form
			</a>
		</div>
		<main>
			{% for machine in machines %}
				<div class="card">
					<div class="loading_bar {{ machine.bar_type }}" data-value="{{ machine.bar_progress }}" data-machine-name="{{ machine.name }}"></div>
					<div class="card_text {{machine.text_type}}">
						<div class="machine_name">{{ machine.name }}</div>
						<div class="user_name">{{ machine.type }} | {{ machine.user }}</div>
						<div class="status_message">{{ machine.status_message }}</div>
						<div class="time_remaining">{{machine.time_remaining_text}}<br />{{ machine.estimated_completion }}<br />{{ machine.time_remaining }}</div>
						{% if machine.in_use %}
						<div class="toolbox">
							<a class="toolbox_button" href="javascript:clear_usage({{ machine.id }}, '{{ machine.name }}')"><i class="fas fa-broom" title="Clear"></i></a><br /><br />
							<a class="toolbox_button" href="javascript:edit_usage({{ machine.current_usage_id }})"><i class="fas fa-edit" title="Edit"></i></a><br /><br />
						</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}

		</main>
	</body>
	<script>
		function progress_bar(idx, elem, color1, color2, speed) {
			var bar = new ldBar(elem,
			{
				"type": 'fill',
				"path": 'M15 5L85 5A5 5 0 0 1 85 15L15 15A5 5 0 0 1 15 5',
				"stroke": '#f00',
				"fill": 'data:ldbar/res,stripe(' + color1 + ',' + color2 + ',' + speed + ')',
				"fill-dir": "ltr",
				"fill-background": '#ddd',
				"fill-background-extrude": 1,
				"bbox": "10 5 80 10"
			});
		}

		function in_progress(idx, elem) {
			progress_bar(idx, elem, "#050", "#0A0", "1");
		}

		function error(idx, elem) {
			progress_bar(idx, elem, "#FFF000", "#ADA52C", "1"); // TODO Change these colors to yellow/dark yellow
		}

		function complete(idx, elem) {
			progress_bar(idx, elem, "#9EA2A2", "#AB2328", "0");
		}

		function failed(idx, elem) {
			progress_bar(idx, elem, "#500", "#A00", "4");
		}

		function refresh_bars() {
			$(".bar_in_progress").each(in_progress);
			$(".bar_complete").each(complete);
			$(".bar_failed").each(failed);
			$(".bar_error").each(error);
		}

		refresh_bars();

		function set_failure_url(hostname) {
			document.getElementById("failure-form-link").href = hostname + "/myforge/forms/failed_usage";
		}

		function set_urls() {
			var host = window.location.protocol + "//" + window.location.host;

			set_failure_url(host);
		}

		set_urls();
	</script>
</html>
