{% extends "forge/generic.html" %}
{% load static %}

{% block page_title %}
<title>Use A Machine</title>
{% endblock page_title %}

{% block custom_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'forge/css/forms/machine_usage.css' %}">
{% endblock custom_styles %}

{% block main %}
	<main class="bg_shade">

	
    
		
        <div id="help_select">
			<p class="title" id="machine_selection_title"><strong>Please enter your information and select your help topic</strong><br>if rejoining use same email submit</p>
			 <form action="/dyn/user_chat_join" method="get">
				{% if not request.user.is_authenticated %}
				<label for="name">Name:</label><br>
				<input type="text" id="name" name="name"><br>
				<label for="email">Email:</label><br>
				<input  type="email" id="email" name="email"><br>
				
				{% endif %}
				
				<input type="checkbox" id="3dprinting" name="checks[]" value="3dprinting">
				<label for="3dprinting">3d printing help/request</label><br>
				<input type="checkbox" id="lazercutter" name="checks[]" value="lazercutter">
				<label for="lazercutter">Lazer Cutter help/request</label><br>
				<input type="checkbox" id="generalhelp" name="checks[]" value="generalhelp">
				<label for="generalhelp">General help</label><br>
				
				<label for="policy"><a href="url">The policy</a></label><br>
				<input  type="checkbox" id="policy" name="policy" value="policy">
				
				<input type="submit" value="Submit">
			</form> 
        </div>

    </main>
{% endblock main %}

