#card {
  width: 40%;
  border-radius: 5px;
  /*border: 2px solid #AF0909;*/
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  padding: 10px;
  text-align: center;
  background: #FFF;
}

#h1 {
  font-weight: normal;
}

input[type=submit] {
  font: inherit;
  padding: 5px 20px;
  width: 35%;
  border-radius: 5px;
}

#submit_button {
  color: #FFF;
  background-color: #AF0909;
  border: none;
  margin-bottom: 10px;
  margin-top: 20px;
}