main {
	width: 75%;
	left: 25%;
}

#equipment_sidebar {
	position: absolute;
	top: 5.55vh;
	left: 0px;
	height: 94.45vh;
	width: 25%;

	background: #FFF;
	z-index: 99;
}

.block_list {
  padding: 0px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top:0px;
  margin-bottom: 0px;
}

.block_list li {
  text-decoration: none;
  display: block;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  border-bottom: 1px solid #BBB;
}

.block_list li:hover {
  background: #EEEEEE;
}

.block_list_header {
  padding-top: 20px !important;
  padding-left: 20px !important;
  font-weight: bold;
  color: #AF0909;
}

.block_list_header:hover {
  background: #FFFFFF !important;
}

/*
	Machine Types in Sidebar
*/

.machine_type_name {
  font-size: 20px;
}

.machine_type_overview {
  font-size: 12px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.yellow {
  color: gold;
}