{% load static %}

{% block page_title %}
<title>Machine Temperature</title>
{% endblock page_title %}

{% block custom_styles %}
<style>
canvas{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
</style>
{% endblock custom_styles %}
	
{% block main %}
	<main>
        <div id="information">
            <div id="chart" style="position: relative;">
                <div id='chart_div'></div>
            </div>
            <div id="nodata">
                No Data Available
            <div>
        </div>
	</main>
{% endblock main %}

{% block scripts %}
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
	<script>
	var temperature_history = {{temperature_information|safe }}
    
    if(Object.keys(temperature_history).length === 0){
        var nodata = document.getElementById('nodata');
        var chart = document.getElementById('chart');
        nodata.style.display = "block"; 
        chart.style.display = "none"; 
    } else {
        var nodata = document.getElementById('nodata');
        var chart = document.getElementById('chart');
        nodata.style.display = "none"; 
        chart.style.display = "block"; 
	}

    //get list of time points.
    var time_list = Object.entries(temperature_history)[0][1]["time"]

    //put data into traces
    trace_data = []
    for (const [key, value] of Object.entries(temperature_history)) {
        if(key=="information"){
            continue;
        }

        var data_trace = {
            x: time_list,
            y: temperature_history[key]["temperature"],
            name: key,
            type: 'scatter'
        };
        trace_data.push(data_trace)

        var goal_trace = {
            x: time_list,
            y: temperature_history[key]["goal"],
            name: key+" goal",
            type: 'scatter'
        };
        trace_data.push(goal_trace)
    }

    //setup layouut
    var layout = {
        title: {
            text:'Machine Temperature',
            xref: 'paper',
            x: 0.05,
        },
        xaxis: {
            title: {
                text: 'Time',
            },
        },
        yaxis: {
            title: {
                text: 'Temperature (C)',
            }
        },

        hovermode: 'x unified'
    };

    Plotly.newPlot('chart_div', trace_data, layout);

	</script>
{% endblock scripts %}