input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#form {
  width: 25%;
  border-radius: 5px;
  /*border: 2px solid #AF0909;*/
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  padding: 10px;
  text-align: center;
  background: #FFF;
}

#form h1 {
  font-weight: normal;
}

#form input[type=text] {
  width: 80%;
  height: 3.5vh;
  margin-bottom: 5px;
}

#form input[type=email] {
  width: 80%;
  height: 3.5vh;
  margin-bottom: 5px;
}

#form input[type=password] {
  width: 80%;
  height: 3.5vh;
  margin-bottom: 5px;
}

#form input[type=number] {
  width: 80%;
  height: 3.5vh;
  margin-bottom: 5px;
}

#form select {
	width: 80%;
	height: 3.5vh;
	line-height: 7vh !important;
	margin-bottom: 5px;
}

#form select:invalid {
	color: gray;
}

#form button {
  font: inherit;
  padding: 5px 20px;
  width: 35%;
  border-radius: 5px;
}

#submit_button {
  color: #FFF;
  background-color: #AF0909;
  border: none;
  margin-top: 5px;
}

.helptext {
	display: none;
}