/*#machine_usage {
  position: absolute;
  
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}

#machine_form {
  position: absolute;
  height: 100%;
  width: 80%;
  right: 0px;
  top: 0px;
  border: none;
  overflow: hidden;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#form {
  width: 25%;
  border-radius: 5px;
  /*border: 2px solid #AF0909;*//*
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  padding: 10px;
  text-align: center;
  background: #FFF;
}

#form h1 {
  font-weight: normal;
}

#form input[type=text] {
  width: 80%;
  height: 3.5vh;
  margin-bottom: 5px;
}

#form input[type=email] {
  width: 80%;
  height: 3.5vh;
  margin-bottom: 5px;
}

#form input[type=password] {
  width: 80%;
  height: 3.5vh;
  margin-bottom: 5px;
}

#form input[type=number] {
  width: 80%;
  height: 3.5vh;
  margin-bottom: 5px;
}

#form select {
	width: 80%;
	height: 3.5vh;
	line-height: 7vh !important;
	margin-bottom: 5px;
}

#form select:invalid {
	color: gray;
}

#form button {
  font: inherit;
  padding: 5px 20px;
  width: 35%;
  border-radius: 5px;
}

#submit_button {
  color: #FFF;
  background-color: #AF0909;
  border: none;
  margin-top: 5px;
}

.helptext {
	display: none;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  color: #AF0909;
  margin-top: 35px;
}

.block_list {
  padding: 0px;
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 0px;

  height: calc(100% - 20px);
  overflow-y: hidden;
  overflow-x: hidden;
  margin-top: 0px;
  margin-bottom: 0px;

  font-size: 14px;
}

.block_list li {
  text-decoration: none;
  display: block;
  padding: 0.25em;

  padding-left: 0px;
}

.block_list a:hover {
  background: #BBB;
}

.block_list a {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin: 0px;
  text-decoration: none;
  color: black;
  outline: 0;
}

.block_list_header {
  padding-top: 10px !important;
  padding-left: 10px !important;
  font-weight: bold;
  color: #AF0909;
}

.block_list_header:hover {
  background: #EEE !important;
}*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left_pad {
  padding-left: 25px;
}

.top_pad {
  padding-top: 10px;
}

#usage_time {
  background: #FFF;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  border-radius: 5px;

  width: 210px;
  padding: 30px;

  display: none;
}

#checkboxes {
  background: #FFF;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  border-radius: 5px;

  padding: 30px;
  display: none;
}

#reprint_policy {
  background: #FFF;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  border-radius: 5px;

  padding: 30px;
  display: none;

  width: 50%;
}

#reprint_policy_title {
  text-align: center;
}

#total_cost {
  background: #FFF;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  border-radius: 5px;

  padding: 30px;
  display: none;
}

#total_cost_title {
  text-align: center;
}

#available_machines {
  background: #FFF;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  border-radius: 5px;

  padding: 30px;
  /*display: none;*/
}

#material_usage {
  background: #FFF;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  border-radius: 5px;

  padding: 30px;
  display: none;
}

#loading {
  background: #FFF;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  border-radius: 5px;

  padding: 30px;
  display: none;
}

#result {
  background: #FFF;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  border-radius: 5px;

  padding: 30px;
  display: none;
}

#usage_hours {
  display: block;
  float: left;
  width: 100px;
  margin-bottom: 15px;
}

#usage_minutes {
  display: block;
  float: right;
  width: 100px;
  margin-bottom: 15px;
}

#slot_usage_table {
  width: 100%;
}

#slot_usage_table th {
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}

#slot_usage_table td {
  padding: 10px;
}

.section_label {
  position: relative;
  top: 0px;
  left: 0px;
  background: #AF0909;
  color: #FFFFFF;
}

select {
  padding: 12px 20px;
  width: 100%;
}

button {
  font: inherit;
  padding: 5px 20px;
  width: 35%;
  border-radius: 5px;
  color: #FFF;
  background-color: #AF0909;
  border: none;
  margin-top: 5px;
  width: 100%;
}