/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.left_pad {
  padding-left: 25px;
}

.top_pad {
  padding-top: 10px;
}

#usage_time {
  background: #FFF;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  border-radius: 5px;

  width: 210px;
  padding: 30px;

  display: none;
}

#checkboxes {
  background: #FFF;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  border-radius: 5px;

  padding: 30px;
  display: none;
}

#reprint_policy {
  background: #FFF;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  border-radius: 5px;

  padding: 30px;
  display: none;

  width: 50%;
}

#reprint_policy_title {
  text-align: center;
}

#total_cost {
  background: #FFF;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  border-radius: 5px;

  padding: 30px;
  display: none;
}

#total_cost_title {
  text-align: center;
}

#available_machines {
  background: #FFF;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  border-radius: 5px;

  padding: 30px;
  /*display: none;*/
}

#material_usage {
  background: #FFF;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  border-radius: 5px;
	
border-collapse: collapse;
  min-width: 25vw;
  
  padding: 30px;
  display: none;
}

#loading {
  background: #FFF;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  border-radius: 5px;

  padding: 30px;
  display: none;
}

#result {
  background: #FFF;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  border-radius: 5px;

  padding: 30px;
  display: none;
}

#usage_hours {
  display: block;
  float: left;
  width: 100px;
  margin-bottom: 15px;
}

#usage_minutes {
  display: block;
  float: right;
  width: 100px;
  margin-bottom: 15px;
}

#slot_usage_table {
  width: 100%;
}

#slot_usage_table th {
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}

#slot_usage_table td {
  padding: 10px;
}

.section_label {
  position: relative;
  top: 0px;
  left: 0px;
  background: #AF0909;
  color: #FFFFFF;
}

.title {
  text-align: center;
  margin-top: 0px;
}

select {
  padding: 12px 20px;
  width: 100%;
}

button {
  font: inherit;
  padding: 5px 20px;
  width: 35%;
  border-radius: 5px;
  color: #FFF;
  background-color: #AF0909;
  border: none;
  margin-top: 5px;
  min-width: 100%;
}