body {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*@keyframes spin { 
        from { 
            transform: rotate(0deg); 
        } to { 
            transform: rotate(360deg); 
        }
}

a {
	animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

	animation: fadein 2s;
	-moz-animation: fadein 2s;
	-webkit-animation: fadein 2s;
	-o-animation: fadein 2s;
}*/

body {
	-webkit-animation: rotation 2s infinite linear;
}

div {
	-webkit-animation: reverse_rotation 2s infinite linear;
}

*:after {
	content: "FRORGÉ";
	-webkit-animation: fadein 10s infinite linear;
	z-index: 99999;
}

section {
	-webkit-animation: rotation 2s infinite linear;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
				color: #0F0;
				font-size: 5px;
				background-repeat: no-repeat;
		}
		to {
				-webkit-transform: rotate(359deg);
				color: #00F;
				font-size: 50px;
				background-repeat: repeat;
		}
}

@-webkit-keyframes reverse_rotation {
		from {
				-webkit-transform: rotate(359deg);
				color: #F00;
		}
		to {
				-webkit-transform: rotate(0deg);
				color: #00F;
		}
}