#card {
  border-radius: 5px;
  /*border: 2px solid #AF0909;*/
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  padding: 10px;
  text-align: center;
  background: #FFF;
  position: relative; 
  overflow: auto;
}

