main {
	width: 100%;
	height: 100%;
	left: 100%;
	background: #ffffff;
}

#myforge_sidebar {
	position: absolute;
	top: 5.55vh;
	left: 0px;
	height: 94.45vh;
	width: max(100px, 12vw);

	background: #EEE;
	z-index: 80;
}


#my_forge_container {
	position: absolute;
	height: 94.55vh;
	background: #EEEEEE;
	width: min(100vw - 100px, 88vw);
	top: 5.5vh;
	left: max(100px, 12vw);
	border: none;
}

#myforge_frame {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: none;
}

#myforge_frame.ratio {display:block;width:100%;height:auto;}

#myforge_frame iframe {position:absolute;top:0;left:0;width:100%; height:100%;}

.block_list {
	padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;

	height: calc(100% - 20px);
	overflow-y: hidden;
	overflow-x: hidden;
	margin-top: 0px;
	margin-bottom: 0px;

	font-size: 14px;
}

.block_list li {
	text-decoration: none;
	display: block;
	padding: 0.5em;

	padding-left: 25px;
}

.block_list a:hover {
	background: #BBB;
}

.block_list_active { /* Will be applied to currently active tab */
	background: #AF0909;
	color: white;
}

.block_list a {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	margin: 0px;
	text-decoration: none;
	color: black;
	outline: 0;
}

.block_list_header {
	padding-top: 15px !important;
	padding-left: 20px !important;
	font-weight: bold;
	color: #AF0909;
}

.block_list_header:hover {
	background: #EEE !important;
}



