.ldBar-label {
	position: absolute;
	bottom: 11px;
	left: 10px;
	font-size: 15px;

	color: black;
}

.temperature {
    position: relative;
    top: 10%;
    height: 85%;
    width: 100%
}

.loading_bar {
	position: relative;
	/*top: -85px;*/
	text-align: center;

	width: 200px !important;
	left: 0px !important;
	height: 200px !important;
	bottom: 0px;

	color: #080;
	font-size: 2em;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.loading_bar svg {
	position: relative;
	width: 75%;
	height: auto;
	top: 164px;
	left: 20px;
}

body {
	background: #EEE;
}

main {
	padding: 25px;
	display: flex;
	flex-wrap: wrap;
}

.card {
	background: #FFF;
	height: 200px;
	width: 200px;
	box-shadow: #5E5E5E 2px 2px 2px 2px; 

	text-align: center;
	color: #AF0909;

	margin-right: 10px;
	margin-bottom: 10px;

	font-family: sans-serif;
}

.card_text {
	position: relative;
	top: -200px;
	left: 0px;

	height: 100%;
	width: 100%;
}

.status_message {
	position: relative;
	top: 15px;
	width: 100%;
	height: 50px;

	font-size: 12px;
}

.time_remaining {
	position: relative;
	top: 15px;

	font-size: 12px;
}

.machine_name {
	position: relative;
	top: 10px;
	font-weight: bold;
	font-size: 15px;
	color: #000;
}

.user_name {
	position: relative;
	font-size: 10px;
	top: 13px;
	color: gray;
}

.text_in_progress {
	color: #0A0;
}

.text_failed {
	color: #A00;
}

.text_complete {
	color: #0A0;
}

.text_error {
	color: #ADA52C;
}

#card_container {
	position: absolute;
	width: 100%;
	top: 10vh;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: left;
}

.toolbox {
	position: relative;
	left: 0px;
	top: -65px;
	height: 100px;
	width: 25px;
	margin-top: auto;
	margin-bottom: auto;

	background: #FFF;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;

	padding-top: 15px;
}

.toolbox_right {
	position: relative;
    right: 0px;
    top: -180px;
    height: 100px;
    width: 25px;
    margin-top: auto;
    margin-bottom: auto;
    background: #FFF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;

    padding-top: 15px;

    float: right;
}

.toolbox_button {
	color: #000;
}