<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/style.css"></link>
		<link rel="stylesheet" type="text/css" href="css/equipment.css"></link>
		<link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon" />
	</head>
	
	<body>
		<header class="separated_header">
			<a href="index.html"><img id="nav_logo" src="/img/logo_no_text.png" /></a>
			<ul class="nav_list">
				<li><a class="nav_item" href="login.html">Login</a></li>
				<li><a class="nav_item" href="contact.html">Contact</a></li>
				<li><a class="nav_item" href="about.html">Hours</a></li>
				<li><a class="nav_item" href="news.html">News</a></li>
				<li><a class="nav_item" href="gallery.html">Gallery</a></li>
				<li><a class="nav_item" href="equipment.html">Equipment</a></li>
			</ul>
		</header>

		<section id="equipment_sidebar">
			<ul class="block_list">
				<li class="block_list_header">3D Printers</li>
				<li>
					<span class="machine_type_name">Prusa Mk3</span><br/>
					<span class="machine_type_overview">
						<span class="green">7 Free</span> - 
						<span class="yellow">1 In Use</span> - 
						<span class="red">1 Out Of Service</span>
					</span>
				</li>

				<li>
					<span class="machine_type_name">gCreate</span><br/>
					<span class="machine_type_overview">
						<span class="green">1 Free</span> - 
						<span class="yellow">0 In Use</span> - 
						<span class="red">0 Out Of Service</span>
					</span>
				</li>

				<li>
					<span class="machine_type_name">FormLabs Form 1+</span><br/>
					<span class="machine_type_overview">
						<span class="green">1 Free</span> - 
						<span class="yellow">0 In Use</span> - 
						<span class="red">0 Out Of Service</span>
					</span>
				</li>

				<li>
					<span class="machine_type_name">Makerbot Z18</span><br/>
					<span class="machine_type_overview">
						<span class="green">1 Free</span> - 
						<span class="yellow">1 In Use</span> - 
						<span class="red">0 Out Of Service</span>
					</span>
				</li>

				<li>
					<span class="machine_type_name">Makerbot Mini</span><br/>
					<span class="machine_type_overview">
						<span class="green">1 Free</span> - 
						<span class="yellow">0 In Use</span> - 
						<span class="red">0 Out Of Service</span>
					</span>
				</li>

				<li>
					<span class="machine_type_name">LulzBot TAZ Mini</span><br/>
					<span class="machine_type_overview">
						<span class="green">1 Free</span> - 
						<span class="yellow">0 In Use</span> - 
						<span class="red">0 Out Of Service</span>
					</span>
				</li>

				<li>
					<span class="machine_type_name">LulzBot TAZ MoarStruder</span><br/>
					<span class="machine_type_overview">
						<span class="green">1 Free</span> - 
						<span class="yellow">0 In Use</span> - 
						<span class="red">0 Out Of Service</span>
					</span>
				</li>

				<li>
					<span class="machine_type_name">LULZBot TAZ Quadfusion</span><br/>
					<span class="machine_type_overview">
						<span class="green">1 Free</span> - 
						<span class="yellow">0 In Use</span> - 
						<span class="red">0 Out Of Service</span>
					</span>
				</li>

				<li class="block_list_header">Laser Cutters</li>

				<li>
					<span class="machine_type_name">ThunderLaser NOVA</span><br/>
					<span class="machine_type_overview">
						<span class="green">1 Free</span> - 
						<span class="yellow">0 In Use</span> - 
						<span class="red">0 Out Of Service</span>
					</span>
				</li>

				<li class="block_list_header">3D Scanners</li>

				<li>
					<span class="machine_type_name">Afinia 3D Scanner</span><br/>
					<span class="machine_type_overview">
						<span class="green">1 Free</span> - 
						<span class="yellow">0 In Use</span> - 
						<span class="red">0 Out Of Service</span>
					</span>
				</li>

				<li>
					<span class="machine_type_name">NextEngine 3D Scanner</span><br/>
					<span class="machine_type_overview">
						<span class="green">1 Free</span> - 
						<span class="yellow">0 In Use</span> - 
						<span class="red">0 Out Of Service</span>
					</span>
				</li>

				<li class="block_list_header">Other</li>

				<li>
					<span class="machine_type_name">Sewing Machine</span><br/>
					<span class="machine_type_overview">
						<span class="green">1 Free</span> - 
						<span class="yellow">0 In Use</span> - 
						<span class="red">0 Out Of Service</span>
					</span>
				</li>

				<li>
					<span class="machine_type_name">Vinyl Cutter</span><br/>
					<span class="machine_type_overview">
						<span class="green">1 Free</span> - 
						<span class="yellow">0 In Use</span> - 
						<span class="red">0 Out Of Service</span>
					</span>
				</li>
			</ul>
		</section>

		<main class="bg_shade">
		</main>

		<footer>
		</footer>
	</body>

	<!-- Load scripts and fonts at the end of the page to improve load time. -->
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>

	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:700|Montserrat:700|Open+Sans:700|Oswald:700|Roboto:700" rel="stylesheet">

</html>
