{% load static %}

<html>
	{% block head %}
	<head>
		<link rel="icon" href="{% static 'machine_usage/img/favicon/favicon.ico' %}" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="{% static 'machine_usage/css/style.css' %}">
		{% block custom_styles %}
		{% endblock custom_styles %}

		{% block meta %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		{% endblock meta %}

		{% block title %}
		<title>{{page_title}}</title>
		{% endblock title %}
	</head>
	{% endblock head %}
	
	{% block body %}
	<body>
		{% block header %}
		{% include "machine_usage/components/header.html" %}
		{% endblock header %}

		{% block pre_main %}
		{% endblock pre_main%}

		{% block main %}
		<main>
		</main>
		{% endblock main %}
		
		{% block post_main %}
		{% endblock post_main %}

		{% block footer %}
		<footer>
		</footer>
		{% endblock footer %}
	</body>
	{% endblock body %}

	{# Load scripts and fonts at the end of the page to improve load time. #}

	{% block scripts %}
	{% include "machine_usage/components/scripts.html" %}
	{% endblock scripts %}

	{% block fonts %}
	{% include "machine_usage/components/fonts.html" %}
	{% endblock fonts %}

</html>
