{% extends "machine_usage/generic.html" %}
{% load static %}

{% block page_title %}
<title>Log In</title>
{% endblock page_title %}

{% block custom_styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'machine_usage/css/hours.css' %}">
{% endblock custom_styles %}
	
{% block main %}
	<main class="bg_shade">
		<div id="iframe_container" class="center_children fill_parent_horiz fill_screen_vert">
			<div id="card">
				<iframe id="calendar_frame" src="https://calendar.google.com/calendar/b/1/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=azJyNm9zamptczZscXQ0MWJpNWE3ajQ4bjBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%238A2D38&amp;mode=WEEK&amp;showTitle=0&amp;showNav=0&amp;showTabs=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
			</div>
		</div>
	</main>
{% endblock main %}
