<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/style.css"></link>
		<link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon" />
	</head>
	
	<body>
		<header class="separated_header">
			<a href="index.html"><img id="nav_logo" src="/img/logo_no_text.png" /></a>
			<ul class="nav_list">
				<li><a class="nav_item" href="login.html">Login</a></li>
				<li><a class="nav_item" href="contact.html">Contact</a></li>
				<li><a class="nav_item" href="about.html">Hours</a></li>
				<li><a class="nav_item" href="news.html">News</a></li>
				<li><a class="nav_item" href="gallery.html">Gallery</a></li>
				<li><a class="nav_item" href="equipment.html">Equipment</a></li>
			</ul>
		</header>

		<main class="bg_shade">
			<div id="login_form_container" class="center_children fill_parent_horiz fill_screen_vert">
				<div id="login_form">
					<h1>Sign In</h1>
					<form>
						<input type="text" name="rcsid" placeholder="RCS ID" required autofocus /><br />
						<input type="password" name="rcsid" placeholder="Password" required/><br />
						<button id="sign_in_button">Sign In</button>
						<button id="create_account_button">Create Account</button>
					</form>
				</div>
			</div>
		</main>

		<footer>
		</footer>
	</body>

	<!-- Load scripts and fonts at the end of the page to improve load time. -->
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>

	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:700|Montserrat:700|Open+Sans:700|Oswald:700|Roboto:700" rel="stylesheet">

</html>
