{% extends "machine_usage/generic.html" %}
{% load static %}

{% block page_title %}
<title>Machine Status</title>
{% endblock page_title %}

{% block custom_styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'machine_usage/css/loading-bar.css' %}" />
	<style type="text/css">

		.ldBar-label {
			position: absolute;
			bottom: 11px;
			left: 10px;
			font-size: 15px;

			color: black;
		}

		.loading_bar {
			position: relative;
			/*top: -85px;*/
			text-align: center;

			width: 200px !important;
			left: 0px !important;
			height: 200px !important;
			bottom: 0px;

			color: #080;
			font-size: 2em;
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
		}

		.loading_bar svg {
			position: relative;
			width: 75%;
			height: auto;
			top: 164px;
			left: 20px;
		}

		body {
			background: #EEE;
		}

		main {
			padding: 25px;
			display: flex;
			flex-wrap: wrap;
		}

		.card {
			background: #FFF;
			height: 200px;
			width: 200px;
			box-shadow: #DDD 2px 2px 2px 2px; 

			text-align: center;
			color: #AF0909;

			margin-right: 10px;
			margin-bottom: 10px;

			font-family: sans-serif;
		}

		.card_text {
			position: relative;
			top: -200px;
			left: 0px;

			height: 100%;
			width: 100%;
		}

		.status_message {
			position: relative;
			top: 15px;
			width: 100%;
			height: 50px;

			font-size: 12px;
		}

		.time_remaining {
			position: relative;
			top: 15px;

			font-size: 12px;
		}

		.machine_name {
			position: relative;
			top: 10px;
			font-weight: bold;
			font-size: 15px;
			color: #000;
		}

		.user_name {
			position: relative;
			font-size: 10px;
			top: 13px;
			color: gray;
		}

		.text_in_progress {
			color: #0A0;
		}

		.text_failed {
			color: #A00;
		}

		.text_complete {
			color: #0A0;
		}

		.text_error {
			color: #ADA52C;
		}

		#card_container {
			position: absolute;
			width: 100%;
			top: 10vh;
			flex-wrap: wrap;
		    align-content: flex-start;
    		justify-content: left;
		}
	</style>
{% endblock custom_styles %}
	
{% block main %}
	<main class="bg_shade">
		<div id="card_container" class="center_children">
			{% for machine in machines %}
			<div class="card">
				<div class="loading_bar {{ machine.bar_type }}" data-value="{{ machine.bar_progress }}" data-machine-name="{{ machine.name }}"></div>
				<div class="card_text {{machine.text_type}}">
					<div class="machine_name">{{ machine.name }}</div>
					<div class="user_name">{{ machine.type }} | {{ machine.user }}</div>
					<div class="status_message">{{ machine.status_message }}</div>
					<div class="time_remaining">{{machine.time_remaining_text}}<br />{{ machine.estimated_completion }}<br />{{ machine.time_remaining }}</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</main>
{% endblock main %}

{% block scripts %}
	<script type="application/javascript" src="{% static 'machine_usage/js/loading-bar.js' %}"></script>
	<script>
		function progress_bar(idx, elem, color1, color2, speed) {
			var bar = new ldBar(elem,
			{
				"type": 'fill',
				"path": 'M15 5L85 5A5 5 0 0 1 85 15L15 15A5 5 0 0 1 15 5',
				"stroke": '#f00',
				"fill": 'data:ldbar/res,stripe(' + color1 + ',' + color2 + ',' + speed + ')',
				"fill-dir": "ltr",
				"fill-background": '#ddd',
				"fill-background-extrude": 1,
				"bbox": "10 5 80 10"
			});
		}

		function in_progress(idx, elem) {
			progress_bar(idx, elem, "#050", "#0A0", "1");
		}

		function error(idx, elem) {
			progress_bar(idx, elem, "#FFF000", "#ADA52C", "1"); // TODO Change these colors to yellow/dark yellow
		}

		function complete(idx, elem) {
			progress_bar(idx, elem, "#9EA2A2", "#AB2328", "0");
		}

		function failed(idx, elem) {
			progress_bar(idx, elem, "#500", "#A00", "4");
		}

		function refresh_bars() {
			$(".bar_in_progress").each(in_progress);
			$(".bar_complete").each(complete);
			$(".bar_failed").each(failed);
			$(".bar_error").each(error);

		}

		refresh_bars();
</script>
{% endblock scripts %}