{% load static %}

{% block page_title %}
<title>Machine Failure Form</title>
{% endblock page_title %}

{% block custom_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'forge/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'forge/css/forms/failure_form.css' %}">
{% endblock custom_styles %}

{% block main %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>

    <main class="bg_shade">
        <div class="card center_text">
            <form action="/forms/failed_usage" method="POST">
                {% csrf_token %}
                <p class="no_margin"><strong>Failed Usage Form</strong></p><br />
                <select id="machine_selection" name="machine_name" required>
                    <option value selected disabled>Select a Machine</option>
                    {% for machine_type, machines in machines_in_use.items %}
                        <optgroup label="{{ machine_type }}">
                        {% for machine_name in machines %}
                            <option value="{{ machine_name }}">{{ machine_name }}</option>
                        {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>

                <br /><br />

                <select id="filament_selection" name="filament_type" required>
                    <option value selected disabled>Filament Type</option>
                    <optgroup label="Standard">
                        <option value="pla">PLA</option>
                        <option value="pet">PETG</option>
                        <option value="tpu">TPU</option>
                        <option value="abs">ABS</option>
                        <option value="pva">PVA</option>
                    </optgroup>
                    <optgroup label="Specialty">
                        <option value="vin">Vinyl</option>
                        <option value="res">Resin</option>
                        <option value="cfb">Carbon Fiber</option>
                        <option value="fbg">Fiberglass</option>
                        <option value="hsh">HSHT Fiberglass</option>
                        <option value="kev">Kevlar</option>
                        <option value="nyl">Nylon</option>
                        <option value="onx">Onyx</option>
                    </optgroup>
                </select>

                <br /><br />

                <input class="stretch_input" type="number" min="0" max="100" placeholder="Estimated percent complete" name="percentage" required>

                <br /><br />

                <input class="stretch_input" type="text" placeholder="Printer error message" name="error_msg">

                <br /><br />

                <p class="no_margin small"><strong>Noticeable Faults</strong></p><br />

                <table>
                    <tr>
                        <td>
                            <input type="checkbox" name="failure_type" value="layer shift">
                        </td>
                        <td>
                            <label for="failure_type">Layer Shift</label><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" name="failure_type" value="filament jam">
                        </td>
                        <td>
                            <label for="failure_type">Filament Jam</label><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" name="failure_type" value="lack of bed adhesion">
                        </td>
                        <td>
                            <label for="failure_type">Lack of Bed Adhesion</label><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" name="failure_type" value="other">
                        </td>
                        <td>
                            <div class="flex">
                                <label for="failure_type">Other:</label><br>
                                <input class="checkbox_input" type="text" name="other_failure">
                            </div>
                        </td>
                    </tr>
                </table>

                <br />

                <input type="submit" id="submit_button" value="Send Email" />
            </form>
        </div>
    </main>
{% endblock main %}
