{% extends "machine_usage/generic.html" %}
{% load static %}

{% block page_title %}
<title>Use A Machine</title>
{% endblock page_title %}

{% block custom_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'machine_usage/css/forms/machine_usage.css' %}">
{% endblock custom_styles %}
    
{% block header %}
{% endblock header%}

{% block main %}
    <main class="bg_shade">
        <div id="machine_usage">
            <div id="available_machines">
                <input>
                    {% for machine in available_machines %}
                        <option>{{ machine.name }}</option>
                    {% endfor %}
                </input>
            </div>

            <div id="machine_form">
            </div>
        </div>
    </main>
{% endblock main %}
