{% extends "forge/generic.html" %}
{% load static %}

{% block page_title %}
<title>Use A Machine</title>
{% endblock page_title %}

{% block custom_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'forge/css/forms/machine_usage.css' %}">
{% endblock custom_styles %}
    
{% block header %}
{% endblock header%}

{% block main %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>

    <main class="bg_shade">
        <div id="available_machines">
            <p class="title"><strong>Download Charge Sheets</strong></p>
            <div>
                <div id='download_id' style="display:none;">
                    Downloading Sheet. It may take a while. Please don't click again
                </div>

                <p> Select Semester you would like to view</p>
                <select name="semester" id="semester_select">
                    <option value="">All Semesters</option>
                    {% for semester in semester_list %}
                        <option value="{{semester.id}}">{{semester.name}}</option>
                    {% endfor %}
                </select>

                <p>Would you like to download User Charge Sheets? <input type="checkbox" id="charge_sheet_button" onclick="toggle_user()"></input></p>
                <div id="grad_box" style="display: None">
                    <div>
                        <button onclick="download_user_sheet('/api/billing/user_charge_sheet',false)" value="">Download NonGraduating CSV</button>
                    </div>
                    <div>
                        <button onclick="download_user_sheet('/api/billing/user_charge_sheet', true)" value="">Download Graduating CSV</button>
                    </div>
                </div>
                


                Would you like to download a specific organization's report?<input type="checkbox" id="toggle_button" onclick="toggle_organization()"> </input>
                <div style="display: none" id="org_box">
                    <p> Select Organization</p>
                    <select name="organization" id="orgnization_select">
                        {% for organization in organization_list %}
                            <option value="{{organization.id}}">{{organization.name}}</option>
                        {% endfor %}
                    </select>
                    <div>
                        <button onclick="download_org_sheet('/api/billing/org_charge_sheet', true)" value="">Download  CSV</button>
                    </div>
                </div>

            </div>

        </div>
    </main>
    <script>
    function download_org_sheet(url,graduating){
        var semester_id = document.getElementById("semester_select").value;
        var organization_id = document.getElementById("orgnization_select").value;


        var link = document.createElement("a");
        link.download = name;
        link.href = url+"?graduating="+graduating;

        if(semester_id !== ''){
            link.href  = link.href  + "&semester_id="+semester_id
        }

        checkbox = $('#toggle_button')[0];
        if(organization_id !== '' && checkbox.checked){
            link.href  = link.href  + "&organization_id="+organization_id
        }


        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
        delete link;
        
        var download_text = document.getElementById("download_id");
        download_text.style.display = "block";
    }

    function download_user_sheet(url,graduating){
        var semester_id = document.getElementById("semester_select").value;


        var link = document.createElement("a");
        link.download = name;
        link.href = url+"?graduating="+graduating;

        if(semester_id !== ''){
            link.href  = link.href  + "&semester_id="+semester_id
        }

        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
        delete link;
        
        var download_text = document.getElementById("download_id");
        download_text.style.display = "block";
    }

    function toggle_user(element){
        checkbox = $('#charge_sheet_button')[0];
        grad_box = $("#grad_box");
        console.log(grad_box)
        if(checkbox.checked){
            
            grad_box.css('display', 'Block');
        } else {
            grad_box.css('display', 'None');

        }

    }

    function toggle_organization(element){
        checkbox = $('#toggle_button')[0];
        org_box = $("#org_box")
        console.log(org_box)
        if(checkbox.checked){
            checkbox.checked = true;
            
            org_box.css('display', 'Block');
        } else {
            checkbox.checkbox= false;
            org_box.css('display', 'None');

        }

    }
    </script>
{% endblock main %}


{% block footer %}
{% endblock footer %}

