<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:700|Montserrat:700|Open+Sans:700|Oswald:700|Roboto:700" rel="stylesheet">
<script src="https://kit.fontawesome.com/73db8a1232.js" crossorigin="anonymous"></script> <!-- FontAwesome icon set - may need to be loaded at top of generic.html instead of bottom. -->
