{% load static %}

<header>
	<a href="/"><img id="nav_logo" src="{% static 'machine_usage/img/logo_no_text.png' %}" /></a>
	<ul class="nav_list">
		{% if request.user.is_authenticated %}
		<li><a class="nav_item" href="/machine_usage/logout">Log Out ({{request.user.get_username}})</a></li>
		<li><a class="nav_item" href="/machine_usage/myforge">My Forge</a></li> {# Replace with (name)'s forge? #}
		{% else %}
		<li><a class="nav_item" href="/machine_usage/login">Log In</a></li>
		{% endif %}
		<li><a class="nav_item" href="/machine_usage/hours">Hours</a></li>
		<li><a class="nav_item" href="/machine_usage/news">News</a></li>
		<li><a class="nav_item" href="/machine_usage/status">Status</a></li>
		<li><a class="nav_item" href="/machine_usage/equipment">Equipment</a></li>
		<li><a class="nav_item" href="/machine_usage/our_space">Our Space</a></li>
	</ul>
</header>
